gitdir==1.2.5
numpy==1.22.0
pandas==1.4.3
torch==1.10.1
torchvision==0.11.2
torchaudio==0.10.1
librosa==0.8.0
scipy==1.8.1
sklearn==0.0
Pillow==9.0.0
pytorch-pretrained-vit==0.0.7
simpletransformers==0.63.3
TPOT==0.11.7
gdown==4.4.0
sentence-transformers==2.1.0
autoBOTLib==1.19
tqdm==4.62.3
gensim==4.1.2
openl3==0.4.1